{% extends "base.html" %}

{% block content %}
<div class="about">
<h1>Why use tinycmd?</h1>

<p>Have you ever been in a situation where you wanted to <span class="bold">help a friend or relative</span> install or configure something on their computer over the phone or through Email, but they didn’t have a background in computers?</p>

<p>If you have, then you know that in many cases, it is not easy to guide them through the graphical interface; as you have to imagine another person’s desktop, which can greatly vary on different computers.</p>

<p>In these cases, it is much simpler to just ask the person to open up a terminal window and <span class="bold">type a command string</span>. However, will it be easy for the person without experience in computers to type what you say?</p>

<p>If you use phone, it can be hard for them to find the <span class="bold">special characters</span> on the keyboard, and they can also put <span class="bold">whitespaces</span> in the wrong places of the command string.</p>

<p>On the other hand, when using text, it might be necessary to first explain to them how the <span class="bold">clipboard</span> works. How they can copy the command string, and then find the command is not working correctly. (they can, for example, copy everything except the last character of the string).</p>

<p>The solution is to use command string shortening — <span class="bold">tinycmd</span>.</p>

<p>You can <span class="bold">simply save your command</span> right here. To run it (if tinycmd is installed on the computer), the person just needs to type this into the terminal and press return:</p>

<p class="bold">t test</p>

<p>Where <span class="bold">t</span> is the tinycmd command and <span class="bold">test</span> is an unique shortcut for the command.</p>

<p>You can also use it for <span class="bold">presentations</span> and <span class="bold">master classes</span>, or if you need to use a piece of paper to write a manual for someone.</p>
</div>
<div class="installation">
<h1>Installation</h1>

<p>Before using tinycmd, install it to your computer.</p>

<p><small>(Installation is required only for running commands. Saving them on this site is available without installation).</small></p>

<p>The installation is as simple as:</p>

<p class="bold">wget http://tinycmd.alwaysdata.net/t &amp;&amp; chmod 755 t &amp;&amp; sudo mv t /usr/local/bin/</p>
</div>

<div class="login">
{% if user.is_authenticated %}
You: <span class="bold">{{ user.username }}</span> | <a href="/{{ user.username }}/list/">List</a> | <a href="/accounts/logout/">Sign out</a>
{% else %}
<form action="/accounts/login/" method="post">
{% csrf_token %}
<p><label>Username: </label><input type="text" name="username" value="" id="username"></p>
<p><label>Password: </label><input type="password" name="password" value="" id="password"></p>
<p><input type="submit" value="Sign in" /> <a href="/accounts/register/">Sign up</a></p>
</form>
{% endif %}
</div>
<div class="add_command_string">
<p>Write a command string below, then press the “Save” button to create a shortcut.</p>
<form action="{% url tc.views.add_command_string %}" method="post">
{% csrf_token %}
<p>
{% if user.is_authenticated %}
<label>ID: <input type="text" name="cmdid"></label>
{% endif %}
<label><input type="checkbox" name="only_num">Use only digits in shortcut</label></p>
<p><label>Command: <textarea name="command" cols="35" rows="5"></textarea></label></p>
<p><input type="submit" value="Save"> <a href="/list/">List</a></p>
</form>
</div>
{% endblock %}
